<!-- Start Faq  Area -->
<section class="faq-area bg-color1">
    <div class="faq-wrapper section-spacing bminus-30">
        <div class="container">
            <div class="section-title">
                <h2 class="heading-2">The Final Solution</h2>
                <!-- <p>Lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed vulputate odio ut enim blandit </p>-->
            </div>
            <div class="row">
                <img src="{{ '/assets/images/service.png' | relative_url }}" alt="error logo">
            </div>
        </div>
    </div>
</section>
<!-- End Faq Area -->